.hidden {
  display: none;
}

.game-btn {
  font-size: 15px;
  border: 1px solid orange;
  padding: 20px;
  color: white;
  background-color: orange;
  margin: 20px;
  margin-top: 40px;
  border-radius: 5px;
  position: relative;
}

.game-btn:hover {
  background-color: black;
  border-color: black;
}
